@import './vars.scss';

html,
* {
	font-family: $fnt_work_sans;
	margin: 0;
}
a,
button {
	text-decoration: none;
	background-color: transparent;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

/*******	
	Animations and mixin definitions	
*******/
@mixin dFlex($var, $flexDirection, $alg: center, $jst: center) {
	@if $var==cont {
		display: flex;
		flex-direction: $flexDirection;
		justify-content: $jst;
		align-items: $alg;
	}
	@if $var==child {
		display: flex;
		flex-direction: $flexDirection;
		justify-content: $jst;
		align-items: $alg;
	}
}
@mixin absPos($var, $top: '', $left: '', $right: '', $bottom: '', $zInd) {
	@if $var==TR {
		position: absolute;
		top: $top;
		right: $right;
		z-index: $zInd;
	}
	@if $var==TL {
		position: absolute;
		top: $top;
		left: $left;
		z-index: $zInd;
	}
	@if $var==BR {
		position: absolute;
		bottom: $bottom;
		right: $right;
		z-index: $zInd;
	}
	@if $var==BL {
		position: absolute;
		bottom: $bottom;
		left: $left;
		z-index: $zInd;
	}
	@if $var==offTop {
		position: absolute;
		top: $top;
		right: $right;
		z-index: $zInd;
	}
}
@keyframes bobMotion {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-2px);
	}
	30% {
		transform: translateY(1px);
	}
	40% {
		transform: translateY(3px);
	}
	50% {
		transform: translateY(-1px);
	}
	60% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0);
	}
}
/*******	End of Animations and mixin definitions	*******/

/*
	Home/ index.js styling
*/
.wrapper {
	.recenter {
		width: 48px;
		height: 48px;
		background-color: $white_dark;
		border-radius: 10px;
		cursor: pointer;
		@include dFlex(child, column);
		@include absPos(TR, $top: 2em, $right: 2em, $zInd: 10);

		&:hover {
			transform: scale(1.15);
			transition: 0.12s ease-in-out;
		}
	}
	.map {
		.marker {
			background-image: url('../public/assets/housePin.svg');
			background-size: contain;
			width: 32px;
			height: 32px;
			border-radius: 100%;
			cursor: pointer;
			//animation: bobMotion 1s infinite alternate;
		}
		.mapboxgl-popup {
			max-width: 200px;
			border: none;
		}

		.mapboxgl-popup-content {
			text-align: center;
		}
	}
	.search__container {
		border-radius: 5px;
		background-color: $white_pure;
		padding: 1em;
		width: 500px;
		@include absPos(TL, $top: 1em, $left: 1em, $zInd: 10);

		.header {
			margin: 1em;
			padding-bottom: 1em;
			border-bottom: 2px solid black;
			@include dFlex(child, row, $jst: space-between);

			.profile {
				@include dFlex(child, row, $jst: space-between);
			}
		}
	}
}

/*
	Search.js styling
*/

.search__wrapper {
	.search__header {
		width: 100%;
		button {
			width: 120px;
			padding: 0.3em;
			border: 2px solid $white_dark;
			@include dFlex(child, row, $alg: center, $jst: space-around);

			&:hover {
				background-color: $white_dark;
				transition: 0.12s ease-in-out;
				cursor: pointer;
				animation: bobMotion 0.25s alternate infinite;
			}
		}
	}

	.search__inputContainer {
		margin-top: 2em;
		height: 150px;
		@include dFlex(cont, row);

		.search__left_col {
			width: 10%;
			height: 100%;
			@include dFlex(child, column, $jst: space-around);
		}

		.search__right_col {
			width: 90%;
			height: 100%;
			@include dFlex(child, column, $jst: space-between);

			input {
				width: 80%;
				background-color: $white_medium;
				height: 30px;
				border: 1px solid $black_dark;
				border-radius: 5px;
				padding: 0.5em 1em;
			}

			.search__results {
				background-color: $white_pure;
				height: 200px;
				width: 500px;
				padding: 1em;
				overflow-y: scroll;
				box-shadow: 0px 0px 10px 1px $gray_medium;
				border-radius: 5px;

				&:hover {
					cursor: pointer;
				}

				.searchResults__wrapper {
					scroll-behavior: smooth;

					.result__wrapper {
						border-bottom: 1px solid black;
						padding: 0.25em;
						&:hover {
							background-color: $white_medium;
							transition: 0.12s ease-in-out;
						}
						.result__title {
							font-weight: 600;
						}
						.result__description {
							font-size: $fnt_xs;
						}
					}
				}
			}
			.search__results--start {
				@include absPos(TR, $top: 30%, $right: -95%, $zInd: 20);
			}
		}
	}
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: $black_dark;
}
::-webkit-scrollbar-track {
	background-color: $gray_light;
}
