@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font Variables */
$fnt_work_sans: 'Work Sans', sans-serif;
$fnt_josefin_sans: 'Josefin Sans', sans-serif;

/* Font Sizes */
$fnt_xl: 50px;
$fnt_l: 40px;
$fnt_ml: 30px;
$fnt_m: 25px;
$fnt_n: 18px;
$fnt_sm: 16px;
$fnt_xs: 12px;

/*Color Scheme*/
$white_pure: #ffffff;
$white_dark: #dee2e6;
$white_medium: #e9ecef;
$white_light: #f8f9fa;
$orange: #ecae5b;
$light_brown: #f2efed;
$light_brown_var_1: #00000008;
$gray_dark: #6c757d;
$gray_medium: #adb5bd;
$gray_light: #ced4da;
$black_dark: #212529;
$black_medium: #343a40;
$black_light: #495057;
